<html>
<head>
    <title>Calculator</title>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src='calculator.js'></script>
</head>
<body ng-app="calculator-app">
<div ng-controller='calculatorController'>
    <br/>
    <br/>
    <div>
        <input type="button" value="1" ng-click="click(1)"/>
        <input type="button" value="2" ng-click="click(2)"/>
        <input type="button" value="3" ng-click="click(3)"/>
    </div>
    <div>
        <input type="button" value="4" ng-click="click(4)"/>
        <input type="button" value="5" ng-click="click(5)"/>
        <input type="button" value="6" ng-click="click(6)"/>
    </div>
    <div>
        <input type="button" value="7" ng-click="click(7)"/>
        <input type="button" value="8" ng-click="click(8)"/>
        <input type="button" value="9" ng-click="click(9)"/>
    </div>
    <div>
        <input type="button" value="0" ng-click="click(0)"/>
    </div>
    <div >
        <input  ng-repeat="operator in operators" type="button" value="{{operator}}" ng-click="click(operator)"/>
    </div>
    <br/>
    <div>
        <input type="button" value='Evaluate' ng-click='evaluate()'/>
        Result : {{result}}
    </div>
    <br/>
    <div>
        <input type="button" value="Reset" ng-click="reset()"/>
    </div>
</div>
</body>
</html>